<app-breadcrumb [titulo]="'Producto'"></app-breadcrumb>

<!-- product tab start -->
<div class="product-tab bg-white pt-80 pb-80">
  <div class="container">

      <div class="row">
          <div class="col-lg-6 mb-5 mb-lg-0">
              <div class="product-sync-init mb-20">
                  <div class="single-product">
                      <div class="product-thumb">
                          <img [src]="producto.imagen" alt="product-thumb">
                      </div>
                  </div>
              </div>

          </div>
          <div class="col-lg-6 mt-5 mt-md-0">
              <div class="single-product-info">
                  <div class="single-product-head">
                      <h2 class="title mb-20">{{ producto.nombre }}</h2>
                  </div>
                  <div class="product-body mb-40">
                      <div class="d-flex align-items-center mb-30">
                          <h6 class="product-price mr-20"><span class="onsale">{{ producto.precio | currency }}</span></h6>
                      </div>
                      <p>{{ producto.descripcion }}</p>
                  </div>
                  <div class="product-footer">
                      <div class="product-count style d-flex flex-column flex-sm-row mt-30 mb-30">
                          <div class="count d-flex">
                              <input type="number" min="1" max="10" step="1" value="1">
                              <div class="button-group">
                                  <button class="count-btn increment"><i class="fas fa-chevron-up"></i></button>
                                  <button class="count-btn decrement"><i class="fas fa-chevron-down"></i></button>
                              </div>
                          </div>
                          <div>
                              <button class="btn theme-btn--dark3 btn--xl mt-5 mt-sm-0 rounded-5">
                                  <span class="mr-2"><i class="ion-android-add"></i></span>
                                  Añadir al carrito
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

  </div>
</div>
<!-- product tab end -->